<html lang="en">
    <head>
        <title>Menu Alerts Page</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Menu Alerts</h1>
            <% dailyspecial.forEach((dish) => { %>
                <% 
                        let formattedrestaurantname = dish.restaurantid.replace(/-/g, " ");
                        let namearray = formattedrestaurantname.split(" ");
                        let formattedarray = namearray.map((word) => {
                            return word.charAt(0).toUpperCase() + word.slice(1);
                        });
                        let formattedfullname = formattedarray.join(" ");
                    %>
                <p><%= formattedfullname %>: <%= dish.name %> <%= dish.dailySpecial %></p>
                <% }) %>
        </main>
    </body>
</html>