<html lang="en">
    <head>
        <title>Menu Alerts Page</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    </head>
    <body>
        <main class="main-content">
            <h1>Menu Alerts</h1>
            <% dailyspecial.forEach((dish) => { %>
                <p><%= dish.restaurantid %>: <%= dish.name %> <%= dish.dailySpecial%></p>
            <% }) %>
        </main>
    </body>
</html>